# Default ignores for VS Code extensions
.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/*.map
**/.gitkeep
esbuild.js
tsconfig.json
tsconfig.test.json

# Ignore all node_modules EXCEPT the critical native dependency
node_modules/**
!node_modules/better-sqlite3/**
!node_modules/bindings/**
!node_modules/file-uri-to-path/**
#!node_modules/onnxruntime-node/**

#secrets
.env
.env.*

# Ignore test and development files
test/**
typings/**

# Ignore CI and dev configuration files (adjust as needed)
.github/**
.gitlab-ci.yml
.travis.yml

# Ignore local development artifacts
*.vsix
dist/**/*.map

#Ignore temporary folder created during packaging
tmp_vsix/**

# Ignore tre-sitter-sfapex
tree-sitter-sfapex/**

# Media assets: only include runtime and apex folders
!media/runtime/**
!media/apex/**

# Misc
.DS_Store
scripts/** 
requirements.txt

# Rust
rust-engine/**
target/**
Cargo.lock
Cargo.toml

#assets
assets/** 

#python environment
.venv

#candle-engine
candle-engine/**
candle-model/*


# Ignore everything by default
#*

# Include the built extension
#!dist/extension.js

# Include only the WASM files needed
#!dist/*
##!dist/media/runtime/tree-sitter.wasm
##!dist/media/apex/tree-sitter-apex.wasm

# Optional: Include license/readme if desired
#!LICENSE.txt
#!readme.md
#!changelog.md

# Ignore all node_modules EXCEPT the critical native dependency
#node_modules/**
#!node_modules/@vscode/sqlite3/package.json
#!node_modules/@vscode/sqlite3/lib/**
#!node_modules/@vscode/sqlite3/build/Release/**
